.profileIcon{
    color: #fff;
    width: 22px;
    height: 22px;
    margin-bottom: -2px;
}
.label{
    color: #fff;
    text-transform: none;
    text-align: left;
    padding-left: 0;
    max-width: 55px;
}
.container :global(.vtex-button__label){
    padding-left: 0;
    padding-right: 0;
}

/* Logado */
.profile{
    color: #fff;
    white-space: break-spaces;
    text-align: left;
    text-transform: none;
    padding: 0;
}

/* Hover */
:global(.vtex-button){
    transition: .2s;
}
.container :global(.vtex-button):hover,
.container :global(.vtex-button):focus{
    background-color: transparent;
}
.container :global(.vtex-button):hover .label{
    text-decoration: underline;
}